<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>DankFlix is &copy; David Ornellas, created as part of The Odin Project curriculum</p>
    <p> <a href="http://github.com/ornellasd">Check out my GitHub</a> <i class="fa fa-github"></i></p>
  </div>
</footer>