<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <h2 class="text-center mt-2"><%= title %></h2>
      <div class="card box-shadow p-3 mb-3">
      <form method="POST" action="">
        <div class="form-group">
          <label for="movieTitle">Title:</label>
          <input class="form-control" type="text" id="movieTitle" name="movieTitle" required="true" value="">
        </div>
        <div class="form-group">
          <label for="movieDesc">Description:</label>
          <textarea class="form-control" type="textarea" id="movieDesc" name="movieDesc" required="true" value=""></textarea>
        </div>
        <div class="form-group">
          <label for="moviePrice">Price:</label>
          <input class="form-control" type="text" id="moviePrice" name="moviePrice" required="true" value="">
        </div>
        <div class="form-group">
          <label for="movieStock">Stock:</label>
          <input class="form-control" type="text" id="movieStock" name="movieStock" required="true" value="">
        </div>
        <!-- Genre Loop -->
        <div class=form-group><label>Genre:</label>
          <div>
            <% for(let genre in genres) { %>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input name="movieGenre" type="checkbox" class="form-check-input" value=""><%= genres[genre] %>
              </label>
            </div>
            <% } %>
          </div>
        </div>
        <!-- -->
        <button type="submit" class="btn btn-success">Submit</button>
      </form>  
      </div> 
    </div>
  </body>
</html>

